button {
    @apply cursor-pointer;
}

.button {
    @apply inline-block h-[calc(var(--spacing)*8)] rounded-[var(--radius-xl)] px-[calc(var(--spacing)*3)] text-sm font-medium leading-[calc(var(--spacing)*8)] text-primary-foreground bg-primary cursor-pointer;
}

.button.button-outlined {
    @apply border border-border bg-transparent text-foreground;
}

.button.button-outlined:hover {
    background: color-mix(in srgb, black 25%, var(--color-input));
}

.button.button-ghost {
    @apply bg-transparent;
}

.button:has(> svg) {
    @apply flex items-center gap-x-[calc(var(--spacing)*2)];
}

.button:hover {
    background: color-mix(in srgb, black 10%, var(--color-primary));
    @apply no-underline;
}
