label {
    @apply text-foreground;
}

.input {
    @apply h-[calc(var(--spacing)*10)] w-full rounded-[var(--radius-md)] border border-border bg-card px-[calc(var(--spacing)*3)] py-[calc(var(--spacing)*2)] text-foreground outline-2 outline-transparent outline-offset-2;
}

.input::placeholder {
    @apply text-muted-foreground;
}

.input:focus-visible {
    box-shadow:
        0 0 0 calc(var(--spacing) * .5) var(--color-background)
        0 0 0 calc(var(--spacing) * 1) var(--color-primary);
    @apply outline-0;
}

@media (min-width: var(--breakpoint-md)) {
    .input {
        @apply text-sm;
    }
}

.textarea {
    @apply h-[calc(var(--spacing)*40)] w-full rounded-[var(--radius-md)] border border-border bg-card px-[calc(var(--spacing)*3)] py-[calc(var(--spacing)*2)] text-foreground outline-2 outline-transparent outline-offset-2;
}

.textarea::placeholder {
    @apply text-muted-foreground;
}

.textarea:focus-visible {
    box-shadow:
        0 0 0 calc(var(--spacing) * .5) var(--color-background)
        0 0 0 calc(var(--spacing) * 1) var(--color-primary);
    @apply outline-0;
}

.label {
    @apply block text-sm;
}

input[type=file] {
    @apply block w-full text-sm text-foreground;
}

input[type=file]::file-selector-button {
    @apply mr-[calc(var(--spacing)*4)] rounded-[calc(var(--spacing)*2)] border-0 bg-primary px-[calc(var(--spacing)*4)] py-[calc(var(--spacing)*2)] text-sm font-medium text-background;
}
